<html lang="en">
  <head>
    <title>Admintrator!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" />
    <link rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/css/templatemo.css" />
    <link rel="stylesheet" href="./assets/css/custom.css" />

    <!-- Load fonts style after rendering the layout styles -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="./assets/css/fontawesome.min.css" />

    <!-- CSS here -->
    <link rel="stylesheet" href="./assets/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="./assets/assets/css/flaticon.css" />
    <link rel="stylesheet" href="./assets/assets/css/price_rangs.css" />
    <link rel="stylesheet" href="./assets/assets/css/slicknav.css" />
    <link rel="stylesheet" href="./assets/assets/css/animate.min.css" />
    <link rel="stylesheet" href="./assets/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="./assets/assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="./assets/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="./assets/assets/css/slick.css" />
    <link rel="stylesheet" href="./assets/assets/css/nice-select.css" />
    <link rel="stylesheet" href="./assets/assets/css/style.css" />
  </head>

  <body>
    <header>
      <h1 style="margin-top: 40px; font-size: 50px" align="center">
        Admintrator!
      </h1>
      <br />

      <div class="header-area header-transparrent bg-black">
        <div class="container">
          <div class="row align-items-center">
            <div class="headder-top header-sticky">
              <div class="main-menu">
                <nav class="d-none d-lg-block">
                  <ul id="navigation">
                    <a
                      style="font-size: 30px; color: #ffffff"
                      class="align-self-center"
                      href="../index.html"
                    >
                      @ITDI
                    </a>
                    <li>
                      <a
                        class="active"
                        style="font-size: 20px; color: #ffffff"
                        href="#"
                        >Home</a
                      >
                    </li>
                    <li>
                      <a style="font-size: 20px; color: #ffffff" href="#"
                        >user</a
                      >
                    </li>
                    <li>
                      <a style="font-size: 20px; color: #ffffff" href="#"
                        >Report</a
                      >
                    </li>
                    <li>
                      <a style="font-size: 20px; color: #ffffff" href="/logout"
                        >[logout]</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Header-btn -->
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header End -->
    </header>
    <!-- Main-menu -->

    <!-- Close Header -->

    <!-- Modal -->
    <div
      class="modal fade bg-white"
      id="templatemo_search"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="w-100 pt-1 mb-5 text-right">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form
          action=""
          method="get"
          class="modal-content modal-body border-0 p-0"
        >
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="inputModalSearch"
              name="q"
              placeholder="Search ..."
            />
            <button
              type="submit"
              class="input-group-text bg-success text-light"
            >
              <i class="fa fa-fw fa-search text-white"></i>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div style="padding: 20px">
      <h1>Welcome, <%= username %></h1>
      <p>Your ID and NAME...</p>
    </div>
    <!-- End Banner Hero -->

    <footer>
      <div class="w-100 py-3" style="background-color: #1d242d7d">
        <div class="container">
          <div class="row pt-2">
            <div class="col-12">
              <p class="text-center text-light">
                nipaporn.petc@northbkk.ac.th by
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="./assets/js/jquery-1.11.0.min.js"></script>
    <script src="./assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="./assets/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/js/templatemo.js"></script>
    <script src="./assets/js/custom.js"></script>
    <!-- End Script -->

    <!-- JS here -->

    <!-- All JS Custom Plugins Link Here here -->
    <script src="./assets/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/assets/js/popper.min.js"></script>
    <script src="./assets/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./assets/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./assets/assets/js/owl.carousel.min.js"></script>
    <script src="./assets/assets/js/slick.min.js"></script>
    <script src="./assets/assets/js/price_rangs.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="./assets/assets/js/wow.min.js"></script>
    <script src="./assets/assets/js/animated.headline.js"></script>
    <script src="./assets/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="./assets/assets/js/jquery.scrollUp.min.js"></script>
    <script src="./assets/assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="./assets/assets/js/contact.js"></script>
    <script src="./assets/assets/js/jquery.form.js"></script>
    <script src="./assets/assets/js/jquery.validate.min.js"></script>
    <script src="./assets/assets/js/mail-script.js"></script>
    <script src="./assets/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/assets/js/plugins.js"></script>
    <script src="./assets/assets/js/main.js"></script>
  </body>
</html>
